{% extends 'main/base.html' %}

{% block title %}
Загрузка
{% endblock %}

{% block content %}
    <h1>Список файлов</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Название</th>
            <th>Размер</th>
            <th>Тип</th>
            <th>Время</th>
            <th>Скачать</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
        <tr>
            <td>{{file.title}}</td>
            <td>{{file.size}}</td>
            <td>{{file.type}}</td>
            <td>{{file.time}}</td>
            <td>
                <a href="{{ file.file.url}}" class="bnt btn-primary">Скачать</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}